/* Tabs Component */
.tabs {
    width: 100%;
    max-width: var(--width-xl);
    margin: 0 auto;
}

/* Tab Navigation */
.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem; /* Space between nav and content */
}

/* Individual Tab Button */
.tabs__btn {
    /* Layout & Box Model */
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-xs) var(--size-md);
    margin-bottom: -2px; /* Overlap border with content area */
    position: relative; /* For z-index and potential pseudo-elements */
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: var(--radius-sm);
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */

    /* Typography */
    font-family: "Commissioner", sans-serif;
    font-size: var(--font-sm);
    font-weight: 600;
    color: var(--text-on-light);
    text-decoration: none;

    /* Appearance */
    background-color: var(--background-light);
    cursor: pointer;

    /* Transitions */
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--background-dark);
        color: var(--text-on-dark);
        transform: translateY(-2px); /* Slight lift effect */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

    &--on-dark {
        background-color: var(--neutral-background);
        color: var(--text-on-primary);
        &:hover {
            background-color: var(--primary-surface);
            color: var(--text-on-primary);
            transform: translateY(-2px); /* Slight lift effect */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        }
        &.tabs__btn--active {
            background-color: var(--primary-surface);
            color: var(--text-on-light);
        }
    }
}


/* Active Tab Button State */
.tabs__btn--active {
    background-color: var(--background-dark);
    color: var(--text-on-dark);
    font-weight: 700;
    position: relative; /* Ensure it's above hover effects if overlapping */
    z-index: 2; /* Ensure active tab border is visually connected */
    transform: translateY(0); /* Reset hover transform */
    box-shadow: none; /* Reset hover shadow */
}

/* Tab Content Panel */
.tabs__content {
    display: none; /* Hidden by default */
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Active Tab Content Panel State */
.tabs__content--active {
    display: block; /* Show active content */
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out; /* Apply fade-in animation */
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
