:root {
    --title-display-xs: 1.5rem;
    --title-display-sm: 2rem;
    --title-display-md: 2.5rem;
    --title-display-lg: 4rem;

    --font-sm: 0.875rem; /* 14px */
    --font-md: 1rem; /* 16px */
    --font-lg: 1.25rem; /* 20px */
    --font-xl: 1.5rem; /* 24px */
    --font-xxl: 2rem; /* 32px */
    --font-xxxl: 2.5rem; /* 40px */
    /* breakpoints */
    --width-xl: 1200px;
    --width-lg: 768px;
    --width-md: 640px;
    --width-sm: 480px;
    --width-xs: 320px;

    @custom-media --viewport-xs (min-width: 320px);
    @custom-media --viewport-sm (min-width: 480px);
    @custom-media --viewport-md (min-width: 640px);
    @custom-media --viewport-lg (min-width: 768px);
    @custom-media --viewport-xl (min-width: 1200px);


    /* sizes */
    --size-xxs: 0.25rem; /* 4px */
    --size-xs: 0.5rem; /* 8px */
    --size-sm: 0.75rem; /* 12px */
    --size-md: 1rem; /* 16px */
    --size-lg: 1.5rem; /* 24px */
    --size-xl: 2rem; /* 32px */
    --size-xxl: 2.5rem; /* 40px */
    --size-xxxl: 12rem; /* 192px */

    /* gap */
    --gap-xxs: var(--size-xxs);
    --gap-xs: var(--size-xs);
    --gap-sm: var(--size-sm);
    --gap-md: var(--size-md);
    --gap-lg: var(--size-lg);
    --gap-xl: var(--size-xl);
    --gap-xxl: var(--size-xxl);
    --gap-xxxl: var(--size-xxxl);

    /* padding */
    --padding-xxs: var(--size-xxs);
    --padding-xs: var(--size-xs);
    --padding-sm: var(--size-sm);
    --padding-md: var(--size-md);
    --padding-lg: var(--size-lg);
    --padding-xl: var(--size-xl);
    --padding-xxl: var(--size-xxl);
    /* radius */
    --radius-xxs: var(--size-xxs);
    --radius-xs: var(--size-xs);
    --radius-sm: var(--size-sm);
    --radius-md: var(--size-md);
    --radius-lg: var(--size-lg);
    --radius-xl: var(--size-xl);
    --radius-xxl: var(--size-xxl);
    --radius-xxxl: var(--size-xxxl);

    --hero-height: 75vh;
}




