:root {
    --graphics-alexela-blue: #00BCF1FF;
    --graphics-navy: #172057FF;
    --graphics-flamingo: #F7DADDFF;
    --graphics-mint: #C0FFD3FF;
    --graphics-jade: #3D866BFF;
    --graphics-slate: #4E6267FF;
    --graphics-cream: #FFF6E1FF;
    --graphics-orche: #C27050FF;
    --graphics-steel: #969696FF;

    --primary-800: #172057;
    --primary-500: #028CE9;
    --primary-400: #00BCF1;
    --primary-300: #40D5FF;

    --background-dark: var(--graphics-navy);
    --background-light: hsl(44 100% 99% / 1);;

    --text-on-dark:hsl(44, 100.00%, 97.80%);
    --text-on-light:hsl(233, 70.60%, 6.70%);
    --text-on-primary: var(--primary-800);

    --primary-surface: var(--primary-300);
    --primary-surface-hover: var(--primary-400);
    --primary-surface-active: var(--primary-500);
}
