@import url("partials/reset.css");
@import url("partials/type.css");
@import url("partials/colors.css");
@import url("partials/variables.css");
@import url("partials/utils.css");
@import url("partials/animations.css");
@import url("partials/menu.css");
@import url("partials/quicklinks.css");
@import url("partials/tabs.css");
@import url("partials/graphs.css");
@import url("partials/waves.css");
@import url("partials/tables.css");
/* Define custom media queries early in the file */

body {
  font-family: "Commissioner", sans-serif;
  color: var(--text-on-light);
  background-color: var(--background-light);
  font-size: var(--font-lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Adieu", sans-serif;
  margin-block: 1rem 0.5rem;
}

h1 {
  /* The clamp() function takes three parameters:
       1. The minimum value: var(--title-display-sm), which is a CSS variable for the smallest title display size.
       2. The preferred value: 5vw, which is 5% of the viewport width which the size of the font.
       3. The maximum value: var(--title-display-lg), which is a CSS variable for the largest title display size.
       This ensures that the font size scales responsively between the minimum and maximum values based on the viewport width. */
  font-size: clamp(var(--title-display-sm), 5vw, var(--title-display-lg));
  line-height: 1;
}

h2 {
  font-size: clamp(var(--title-display-sm), 4vw, var(--title-display-md));
}

h3 {
  font-size: clamp(var(--title-display-xs), 3vw, var(--title-display-sm));
  font-weight: 600;
}

p {
  margin-bottom: var(--size-lg);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

/* Header videos */

.header__video {
  position: fixed;

  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0;
  -o-object-position: top;
  object-position: top;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 1rem;
}

.nav::before {
  content: "";
  position: fixed;
  top: -5.25rem;
  left: 0;
  width: 100%;
  height: 5.25rem;
  background-color: #fcfaf0;
  transition: top 0.4s ease-in-out;
  z-index: -1;
}

.nav.scrolled::before {
  top: 0;
}

.nav__subcontainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.nav__logo {
  width: 10rem;
  z-index: 1000;
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-dark);
  z-index: 999;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-100%);
  display: block;
}

.menu__container.is-open {
  transform: translateY(0);
}

.menu {
  padding: 4rem 1rem 1rem;
  background-color: var(--background-dark);
  color: var(--text-on-dark);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.menu__container.is-open .menu {
  opacity: 1;
  transform: translateY(0);
}

.hero {
  display: grid;
  max-width: var(--width-xl);
  width: 100%;
  height: -moz-fit-content;
  position: fixed;
  color: var(--text-on-dark);
  padding-inline: var(--size-md);
  text-shadow: 0 0 27px #00000066;
}
.hero__content {
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;
  z-index: 1;
}

/* Menu toggle */
.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}
.menu-toggle__icon {
  position: relative;
  width: 24px;
  height: 20px;
}

/* Create the lines */
.menu-toggle__icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--graphics-alexela-blue);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  transform-origin: center;
}

/* Position the lines */
.menu-toggle__icon span:nth-child(1) {
  top: 0;
}

.menu-toggle__icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle__icon span:nth-child(3) {
  bottom: 0;
}

/* Animate to X when menu is open */
.menu-toggle.is-open .menu-toggle__icon span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu-toggle.is-open .menu-toggle__icon span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.is-open .menu-toggle__icon span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/* Language selector */
.language {
  position: relative;
  display: flex;
  display: none;
  align-items: center;
}
.language__select {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--graphics-alexela-blue);
  font-family: "Adieu", sans-serif;
  font-size: 1.2rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.language::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url(../img/icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  filter: invert(26%) sepia(89%) saturate(1453%) hue-rotate(212deg)
    brightness(91%) contrast(98%);
}

/* End of Selection */

/* Buttons */
.btn {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  font-family: "Commissioner", sans-serif;
  font-size: var(--font-lg);
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn--primary {
  background-color: var(--primary-surface);
  color: var(--text-on-primary);
  &:hover {
    background-color: var(--primary-surface-hover);
  }
  &:active {
    background-color: var(--primary-surface-active);
  }
}
.btn--outline {
  color: var(--primary-surface);
  background-color: transparent;
}

/* Main start */

main {
  --main-top: 6rem;
  background-color: var(--neutral-background);
  position: relative;
  padding-bottom: calc(var(--main-top) + 2rem);
  background-image: url(../img/bg-horses.jpg);
  background-repeat: no-repeat;
  z-index: 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(-1 * var(--main-top));
    width: 100%;
    height: var(--main-top);
    background-image: url(../img/waves.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150% 100%;
  }
}

.big-icon {
  width: 3rem;
  height: 3rem;
}

main {
  display: grid;
  gap: var(--gap-xl);
  @media (--viewport-xl) {
    gap: var(--gap-xxxl);
  }
}
section {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
  h2 {
    text-align: center;
  }
}
.section--top {
  max-width: var(--width-xl);
  display: grid;
  gap: 2rem;
  justify-content: start;
  @media (--viewport-md) {
    display: flex;
    flex-direction: column;
  }
}
.section--horizontal {
  display: block;
}
.section--dark {
  --section-wave-height: 5rem;
  background-color: var(--background-dark);
  color: var(--text-on-dark);
  position: relative;
  margin-block: var(--section-wave-height);

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    z-index: 1;
  }

  &:before {
    top: calc(-1 * var(--section-wave-height));
    background-image: url(../img/wave-top-01.svg);
  }

  &:after {
    bottom: calc(-1 * var(--section-wave-height));
    background-image: url(../img/wave-bottom-01.svg);
  }
}

.waves-02:after {
  background-image: url(../img/wave-01.svg);
}
.waves-02 {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150% 100%;
    z-index: -1;
    @media (--viewport-md) {
      width: 100%;
    }
    @media (--viewport-xl) {
      width: 100%;
      background-size: 110% 100%;
    }
  }
}

.content-block,
.text-content-block,
.image-text-content-block {
  max-width: var(--width-xl);
  display: grid;
  gap: var(--gap-lg);
  margin: 0 auto;
  h2 {
    text-align: left;
  }
}

.block__text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.image-text-content-block {
  .block__image {
    img {
      border-radius: var(--radius-xs);
      object-fit: cover;
      width: 100%;
    }
  }
  @media (--viewport-md) {
    display: flex;
    & > * {
      flex: 2;
    }
  }
}
.block__image--third {
  flex: 1;
}
.block--image-right {
  @media (--viewport-md) {
    flex-direction: row-reverse;
  }
}
figcaption {
  font-size: var(--font-large);
  text-align: right;
  font-style: italic;
}

/* Cards */

.cards {
  display: grid;
  margin: 0 auto;
  max-width: var(--width-xl);
  /* This creates a responsive grid layout where:
     * - repeat(auto-fill, ...) automatically fills the container with as many columns as possible
     * - minmax(200px, 1fr) ensures each column is at least 200px wide, but can grow to fill available space
     * - This allows cards to responsively adjust from 1 column on mobile to multiple columns on larger screens
     */
  grid-template-columns: repeat(2, 1fr);
  @media (--viewport-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (--viewport-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
  gap: var(--gap-lg);
  &__content {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: var(--gap-xs);
    img {
      justify-self: center;
    }
  }
  &__item {
    background-color: var(--surface-light-03);
    padding-inline: var(--padding-md);
    padding-block: var(--padding-lg);
    border-radius: var(--radius-md);
  }
  &__description {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

/* Alexela list style */

.alexela__list {
  list-style: none;
  padding-left: 0;
}

.alexela__list li {
  position: relative;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  min-height: 3rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.alexela__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/icons/monogram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.block__graph {
  display: grid;
  gap: var(--gap-xl);
}

.graph__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-xl);
}
.stat {
  gap: var(--gap-sm);
  &__info {
  }
  &__value {
    margin: 0;
    font-size: clamp(var(--font-sm), 2vw, var(--font-xxl));
  }
  &__label {
    margin-top: -0.5rem;
    font-size: clamp(var(--font-sm), 2vw, var(--font-xl));
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    @media (--viewport-md) {
      width: 3rem;
      height: 3rem;
    }
  }
  @media (--viewport-md) {
    display: flex;
    align-items: center;
  }
  figure.green {
    background-color: var(--graphics-mint);
    border-radius: 100px;
    padding: 0.75rem;
    width: fit-content;
    gap: 1rem;
  }
}

.map__legend {
  font-size: clamp(var(--font-sm), 2vw, var(--font-xl));
}
.legend__color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  &--dark {
    background: var(--success-500);
  }
  &--medium {
    background: var(--success-300);
  }
  &--light {
    background: var(--success-200);
  }
}
.legend {
  &__items {
    display: flex;
    gap: var(--gap-sm);
  }
  &__item {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
  }
  &__label {
    font-size: clamp(var(--font-sm), 2vw, var(--font-xl));
    font-weight: 600;
  }
}

.map__image {
  &--desktop {
    display: none;
  }
  &--mobile {
    display: block;
    max-width: 26rem;
    margin: 0 auto;
    width: 100%;
  }
  @media (--viewport-md) {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}

video {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: var(--radius-md);
}

.graph__map.two-graphs {
  display: flex;
  flex-direction: column;
  figure:nth-child(1) {
    width: clamp(30vw, 50vw, 100%);
    position: relative;
    z-index: 2;
  }

  figure:nth-child(2) {
    margin-top: -20vw;
    @media (--viewport-md) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.section--cream {
  --wave-height: 4rem;
  background-color: var(--graphics-cream);
  margin-top: var(--wave-height);
  &:before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--wave-height));
    left: 0;
    width: 100%;
    height: var(--wave-height);
    background-image: url(../img/wave-03.svg);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    z-index: -2;
  }
  .content-block {
    margin-top: -4rem;
  }
}

/* Main end */


/* Icon text block */
.icon-text-block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  align-items: center;
  font-family: "Adieu", sans-serif;
  font-size: clamp(var(--font-lg), 2vw, var(--font-xxl));
  margin-top: var(--size-xxl);
  figure {
    width: 10rem;
  }
  div {
    flex: 1;
    text-align: center;
  }
  @media (--viewport-md) {
    flex-direction: row;
    margin-top: 0;
    figure {
      width: 12rem;
    }
    div {
      text-align: left;
    }
  }
}

figure.original-size-graph {
  overflow: auto;

  img {
    max-width: inherit !important;
  }
}

.persons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  @media (--viewport-md) {
    flex-direction: row;
    gap: var(--gap-xxl);
    justify-content: center;
  }
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  text-align: center;
  img {
    margin-bottom: var(--size-sm);
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgba(23, 31, 87, 0.77);
  z-index: 99999999;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.is-open {
    display: block;
    opacity: 1;
  }
}
.modal__content {    
  display: flex;
  flex-direction: column;
  max-width: 57rem;
  margin: var(--size-lg) auto;
  border-radius: var(--radius-md);
  padding: var(--size-lg);
  height: calc(100vh - var(--size-lg) * 2);
  box-sizing: border-box;
  background-color: var(--neutral-background);
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  .btn--outline {
    margin-left: auto;
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: var(--font-lg);
  }
  figure {
    border-radius: var(--radius-md);
    width: 34rem;
    height: auto;
    margin: 0 auto;
    margin-block: var(--size-lg);
    img {
      border-radius: var(--radius-md);
    }
  }
  &-inner {
    overflow-y: auto;
  }
}

.modal.is-open .modal__content {
  transform: translateY(0);
  opacity: 1;
}

/* Footer */
footer {
  background-color: var(--background-dark);
  padding-inline: 1rem;
  padding-block: var(--size-xxl);
  z-index: 1;
    position: relative;
  a {
    color: var(--text-on-dark);
    text-decoration: none;
  }
}

.footer {
  &__left, &__right {
    padding-top: var(--size-md);
  }
  &__container {
    max-width: var(--width-xl);
    margin: 0 auto;
    .menu__button {
      padding-inline: 0 !important;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    @media (--viewport-md) {
      flex-direction: row;
    }
  }
  &__logo {
    width: 8rem;
    margin-top: var(--size-xxs);
    margin-bottom: var(--size-xs);
  }
  &__contact {
    color: var(--text-on-dark);
    font-size: var(--font-sm);
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    @media (--viewport-lg) {
      gap: var(--gap-sm);
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: var(--font-sm);
      gap: var(--gap-xxs);
      &__icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    color: var(--graphics-alexela-blue);
    margin-bottom: var(--size-sm);
  }
}


.social__icon-mask {
  display: block;
  background-color: var(--graphics-alexela-blue);
}

.footer__social .social__link {
  display: flex;
  align-items: center;
  gap: var(--gap-xxs);
  font-size: var(--font-sm);
  color: var(--graphics-alexela-blue);
  
  .social__icon-mask {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.footer__social .social__icon {
  display: flex;
  align-items: center;
  gap: var(--gap-xxs);
  font-size: var(--font-sm);
  color: var(--graphics-alexela-blue) !important;
  .social__icon-mask {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* Icon masks */
.icon-monogram {
  -webkit-mask: url(../img/icons/a-monogram.svg) no-repeat center;
  mask: url(../img/icons/a-monogram.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-facebook {
  -webkit-mask: url(../img/icons/facebook.svg) no-repeat center;
  mask: url(../img/icons/facebook.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-instagram {
  -webkit-mask: url(../img/icons/instagram.svg) no-repeat center;
  mask: url(../img/icons/instagram.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon-youtube {
  -webkit-mask: url(../img/icons/youtube.svg) no-repeat center;
  mask: url(../img/icons/youtube.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}